{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-12">
                <h1>Valider la réservation</h1>
            </div>

        </div>

        <div class="row bookForm">
            <div>
                <p class="mb-2">Signature</p>
                <div class="text-center">
                    <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
                </div>
            </div>
            <div>
                {{ form_start(form, {'attr': {'id': 'form'}}) }}
                {{ form_widget(form) }}
                <br>

                {% if not app.user.stripeToken %}
                    <div class="form-group">
                        <label>
                            Numéro de carte bleu
                            <input type="text" class="form-control" data-stripe="number" value="5555555555554444">
                        </label>
                    </div>

                    <div class="form-group">
                        <label>
                            MM
                            <input type="text" class="form-control" data-stripe="exp_month" value="02">
                        </label>
                    </div>

                    <div class="form-group">
                        <label>
                            YY
                            <input type="text" class="form-control" data-stripe="exp_year" value="22">
                        </label>
                    </div>

                    <div class="form-group">
                        <label>
                            CVC
                            <input type="text" class="form-control" data-stripe="cvc" value="222">
                        </label>
                    </div>
                {% endif %}

            </div>

            <div class="text-center">
                <button class="btn btn-outline-primary" id="clear">Effacer</button>
                <button class="btn btn-primary" id="send">Réserver</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script src="https://js.stripe.com/v2/"></script>

    <script>
      const canvas = document.getElementById('signature-pad')
      const input = document.getElementById('form_signature')

      function resizeCanvas () {
        const ratio = Math.max(window.devicePixelRatio || 1, 1)
        canvas.width = canvas.offsetWidth * ratio
        canvas.height = canvas.offsetHeight * ratio
        canvas.getContext('2d').scale(ratio, ratio)
      }

      window.onresize = resizeCanvas
      resizeCanvas()

      const signaturePad = new SignaturePad(canvas)

      document.getElementById('clear').addEventListener('click', function (e) {
        e.preventDefault()
        signaturePad.clear()
      })

      Stripe.setPublishableKey('pk_test_uIIJApRrViMMdRc7nTsgFvFR00K9LpZi8q')
      var $form = $('#form')

      $form.submit(function (e) {
        e.preventDefault()

        if (signaturePad.isEmpty()) {
          return alert('Veuillez signer dans l\'encart de gauche.')
        } else {
          input.setAttribute('value', signaturePad.toDataURL('image/svg+xml'))
        }

        $form.find('#send').attr('disabled', true)

        Stripe.card.createToken($form, function (status, response) {

          $form.find('.payementError').remove()
          if (response.error) {
            $form.append('<div class="alert alert-danger payementError">' + response.error.message + '</div>')
          } else {
            const token = response.id

            $('#form_stripeToken').val(token)

            $form.get(0).submit()
          }
        })
      })

    </script>
{% endblock %}
