{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} : Votre site de location de véhicule éléctrique !
{% endblock %}

{% block body %}
    <div class="indexPage">
        {% include 'components/searchTool.html.twig' %}
    </div>
    <div class="container p-5">
        <h1 style="text-align: center">A propos de nous</h1>
        <div class="row">
            <div class="col-md-12">
                <p>eMotion est une entreprise permettant la location de véhicule electrique venant de plusieurs concessionnaires pour des particuliers.
                    Notre équipe est composé de 4 personnes et nous avons le plaisir d'annoncé l'ouverture de ce site de location de véhicule.</p>
                <p>Nos véhicules de locations sont disponibles depuis Paris et Lyon et sont disponible à différents tarif raisonnables.</p>
                <p>De plus , différents services de locations sont disponibles dans notre entreprise pour satisfaire à vos besoins et permettre de bénéficier de tarif réduits , points de fidélités , etc...
                     et nous mettons disposition les différents véhicules louables durant une certaine période.</p>
{% endblock %}
