{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} : Votre site de location de véhicule éléctrique !
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h1>Location de courte à moyenne durée (1 jour à 12 mois) :</h1>

                <div class="jumbotron">
                    <p>
                        Vous souhaitez louer une voiture pour un séjour, un besoin urgent ou même par plaisir ? Nous
                        avons
                        la solution pour votre besoin ! Notre service de location de courte durée allie la tranquillité
                        d’un
                        service de location avec la flexibilité d’une location de courte durée . De nombreux point de
                        retrait, vous permettra de récupérer votre voiture dès la location confirmée (en fonction des
                        disponibilités).
                    </p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Location de longue durée (< 1 ans) :</h1>

                <div class="jumbotron">
                    <p>
                        Vous souhaitez louer une voiture pour votre vie de tous les jours ? Nous avons encore une fois la
                        solution à
                        votre besoin ! Notre service de location de longue durée vous permet
                        d’avoir des tarifs préférentiels sur les locations, toute la tranquillité d’un services de location
                        et la
                        stabilité de garder le même véhicule pendant une longue durée.

                    </p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
