{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} : Validation mail
{% endblock %}

{% block body %}
    <div style="margin-left: 6rem !important; margin-right: 6rem !important;">
        Votre message vient d'être envoyé.

        <br><a href="/">Retour à l'accueil</a>
    </div>
{% endblock %}
