.car_view
  display grid
  grid-gap 20px
  grid-template-columns 250px 1fr 100px
  max-height 150px
  box-sizing content-box
  font-family "Helvetica Neue"
  margin $padding 0

  @media screen and (max-width: 640px)
    grid-template-columns 1fr
    max-height none

  .car_photo
    position relative

    img
      width: auto
      height auto
      max-width 100%
      max-height 100%
      position: absolute
      top: 50%
      transform translateY(-50%)


  .car_price
    height 100%


  &__brand
    color #6C6C6C
    font-size 35px

  &__model
    font-size 20px

  .car_details
    margin-top $padding

    tr td
      font-family Arial
      padding 1px 0
      font-size 13px
      color $color-grey

      &:first-child
        padding-right $padding-inside

        &::first-letter
          text-transform uppercase

      .pill
        width 40px
        display block
        height 15px
        border-radius 500px

  .price
    background-color white
    padding $padding-inside
    border-radius $border-radius
    margin $padding-inside 0

    span
      display block

      &.price__old
        text-decoration line-through
        font-size 13px
        color $color-grey

      &.price__current
        font-size 20px
        font-weight bold
        text-align center

        &::after
          content ''

      &.price__byDay
        font-size 10px
        color $color-grey
        text-align right

