.searchToolComponent
  height auto
  width 100%
  background-image url(../img/background/searchTool.jpg)
  background-size cover
  background-position: center
  background-repeat no-repeat

  .searchTool__searchBtn
    display flex
    flex-direction column
    justify-content flex-end