.vehicleInfoComponent
  max-width 100%

  h1, h2
    margin: 0

  h1
    color $color-grey
    font-size 25px
    line-height 35px

  h2
    font-size 30px
    line-height 40px


  img
    width 100%


