{% extends 'base.html.twig' %}

{% block title %}eMotion - Liste des véhicules{% endblock %}

{% block body %}

    <div class="listPage">
        <div class="container">

            <h1 class="pt-2 pb-4">Liste des véhicules</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center">Marque</th>
                    <th class="text-center">Modèle</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for vehicle in vehicles %}
                    <tr>
                        <td class="text-center">{{ vehicle.brand }}</td>
                        <td class="text-center">{{ vehicle.model }}</td>
                        <td>
                            <a href="{{ path('bo__vehicle__info', {id: vehicle.id}) }}">
                                <ion-icon name="arrow-forward"></ion-icon>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
