<h1>Demande de contact</h1>

<h2>Information Client</h2>

<p><b>Prénom :</b> {{ firstname }}</p>
<p><b>Nom :</b> {{ lastname }}</p>
<p><b>Mail :</b> {{ mail }}</p>

<h2>Message</h2>
<p> {{ message }}</p>