{# templates/emails/registration.html.twig #}
<h3>Vous venez d'envoyer un message pour contacter eMotion</h3>
<h4>Votre message à bien été envoyé.</h4>
<br>
<br>
Prénom : {{ information.0 }}<br>
Nom : {{ information.1 }}<br>
Mail : {{ information.2 }}<br>
Message : {{ information.3 }}
