{# templates/emails/registration.html.twig #}
<h3>Vous venez d'envoyer un message pour contacter eMotion</h3>
<h4>Votre message à bien été envoyé.</h4>
<br>
<br>
Prénom : {{ firstNameContact }}<br>
Nom : {{ lastNameContact }}<br>
Mail : {{ emailContact }}<br>
Message : {{ messageContact }}
