{# templates/emails/registration.html.twig #}
<h3>Un client souhaite vous contactez</h3>

Information Client :
<br>
Prénom : {{ information.0 }}
<br>
Nom : {{ information.1 }}
<br>
Mail : {{ information.2 }}
<br>
Message : {{ information.3 }}
