{# templates/emails/registration.html.twig #}
<h3>Un client souhaite vous contactez</h3>

Client :

Prénom : {{ firstNameContact }}
Nom : {{ lastNameContact }}
Mail : {{ emailContact }}
Message : {{ messageContact }}

