<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}eMotion {% endblock %}</title>
    {% block stylesheets %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="styl<esheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">


        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css"/>
        <link href="{{ asset('assets/css/custom-css-bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
{% include 'components/navbar.html.twig' %}

{% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
    {% for message in messages %}
        <div class="container">
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}

{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
      jQuery(document).ready(function () {
        $('.js-datepicker').datepicker({
          format: 'dd/mm/yyyy',
        })
      })
    </script>
{% endblock %}
</body>
</html>
