<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block style %}{% endblock %}
</head>
<body>
<center><img src="./assets/img/logo/eMotion.png" width="auto" height="50px"></center>
{% block body %}{% endblock %}
</body>
</html>