<div class="navbarProfileComponent">
    <p class="navbarProfileComponent__identity">
        <span>Xavier</span>
        <span>Dupont</span>
    </p>
    <img src="{{ asset('assets/img/logo/user.svg') }}" class="navbarProfileComponent__icon" alt="user logo">
</div>
