<div class="navbar container">

    <img class="navbar__logo" src="{{ asset('assets/img/eMotion.svg') }}" alt="logo eMotion">

    <ul class="navbar__menu">
        <li>Services</li>
        <li>Contact </li>
    </ul>
</div>