$color-orange=#ff6000
$color-lightgrey=#F0F0F0
$color-grey=#98989a
$padding-inside=10px
$border-radius=10px

*
  margin 0
  padding 0
  box-sizing border-box
  font-family Helvetica, Arial,  sans-serif

body
  background-color: #fafafa

h1
  font-size 40px
  margin-bottom 20px

.bg
  &-ligthgrey
    background-color: #EBEBEB

  &-white
    background-color: #fff

.table
  overflow-x scroll

.jumbotron
  background-color: $color-lightgrey

  p:last-child
    margin-bottom 0

@import "components/navbar.styl"
@import "components/navbarProfile.styl"
@import "components/searchTool.styl"
@import "components/rentalCarElement.styl"
@import "components/vehicleInfo.styl"
@import "components/overwiexRentalInfo.styl"

@import "pages/index.styl"
@import "pages/search.styl"
@import "pages/bo/user/list.styl"
@import "pages/bo/user/info.styl"
