$color-orange=#ff6000
$color-lightgrey=#F0F0F0
$color-grey=#98989a
$padding-inside=10px
$border-radius=10px

*
  margin 0
  padding 0
  box-sizing border-box
  font-family Helvetica, Arial,  sans-serif

@import "override.styl"

@import "components/navbar.styl"
@import "components/navbarProfile.styl"
@import "components/searchTool.styl"

@import "pages/index.styl"
